In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [104]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [9]:
data= pd.read_csv("iris.csv")

In [11]:
data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [12]:
data=data.drop("Unnamed: 0",axis=1)

In [13]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [66]:
# Created an empty dataframe with nan values
preddataframe = pd.DataFrame(np.repeat("nan", len(data)))
preddataframe.columns = ["pred"]
preddataframe.head()

  pred
0  nan
1  nan
2  nan
3  nan
4  nan

In [36]:
train=data.sample(n=len(data),replace=True)

In [37]:
train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
140           6.7          3.1           5.6          2.4   virginica
139           6.9          3.1           5.4          2.1   virginica
120           6.9          3.2           5.7          2.3   virginica
3             4.6          3.1           1.5          0.2      setosa
64            5.6          2.9           3.6          1.3  versicolor

In [40]:
# the unique records which are getting recored
train_unique=np.unique(train.index)

In [43]:
test=[]
for i in data.index:
    if i not in train_unique:
        test.append(i)

In [45]:
test_data=data.iloc[test]

In [47]:
test_data.shape

(55, 5)

In [52]:
X_train=train[["Sepal.Length",'Sepal.Width','Petal.Length','Petal.Width']]
y_train=train[["Species"]]

In [55]:
X_test=test_data[["Sepal.Length",'Sepal.Width','Petal.Length','Petal.Width']]
y_test=test_data[["Species"]]

In [48]:
# Round 1

In [49]:
model=DecisionTreeClassifier(criterion="gini",random_state=0)

In [56]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [68]:
pred1=model.predict(X_test)

In [69]:
preddataframe['pred']=pd.Series(data=pred1,index=X_test.index)

In [71]:
preddataframe.head()

     pred
0  setosa
1     NaN
2  setosa
3     NaN
4     NaN

In [ ]:
# For 20 Rounds

In [86]:
def rounds(n):
    for i in range (0,n):
        train=data.sample(n=len(data),replace=True)
        train_unique=np.unique(train.index)
        test=[]
        for j in data.index:
            if j not in train_unique:
                test.append(j)
        test_data=data.iloc[test]
        X_train=train[["Sepal.Length",'Sepal.Width','Petal.Length','Petal.Width']]
        y_train=train[["Species"]]
        X_test=test_data[["Sepal.Length",'Sepal.Width','Petal.Length','Petal.Width']]
        y_test=test_data[["Species"]]
        model=DecisionTreeClassifier(criterion="gini",random_state=0)
        model.fit(X_train,y_train)
        pred1=model.predict(X_test)
        preddataframe["pred{0}".format(i)]=pd.Series(data=pred1,index=X_test.index)
        #preddataframe.head()

In [87]:
rounds(20)

In [89]:
preddataframe=preddataframe.drop("pred",axis=1)

In [90]:
preddataframe.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,NaN,NaN,NaN,NaN,setosa,NaN,setosa,NaN,setosa,setosa,NaN,NaN,setosa,NaN,NaN,setosa,NaN,NaN,NaN,NaN
1,NaN,NaN,setosa,NaN,NaN,NaN,setosa,NaN,setosa,NaN,setosa,NaN,NaN,setosa,setosa,NaN,NaN,setosa,NaN,setosa
2,setosa,setosa,setosa,setosa,NaN,NaN,NaN,setosa,NaN,NaN,setosa,NaN,NaN,NaN,NaN,NaN,NaN,setosa,NaN,NaN
3,setosa,NaN,NaN,NaN,setosa,NaN,setosa,setosa,NaN,NaN,setosa,setosa,NaN,NaN,setosa,setosa,NaN,setosa,NaN,setosa
4,NaN,setosa,NaN,NaN,NaN,NaN,setosa,NaN,NaN,NaN,NaN,NaN,NaN,setosa,NaN,NaN,setosa,setosa,setosa,NaN

In [94]:
predmode=preddataframe.mode(axis=1)

In [100]:
predmode.head()

        0
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [96]:
# Confusion matrix for comapring the species in the actual dataframe and how many of the species were predicted corectly

In [101]:
con=confusion_matrix(data.Species,predmode)

In [102]:
con

array([[50,  0,  0],
       [ 0, 48,  2],
       [ 0,  3, 47]], dtype=int64)

In [ ]:
# Thus we can say that the bagged model is able to predict

In [105]:
report=classification_report(data.Species,predmode)

In [106]:
report

'             precision    recall  f1-score   support\n\n     setosa       1.00      1.00      1.00        50\n versicolor       0.94      0.96      0.95        50\n  virginica       0.96      0.94      0.95        50\n\navg / total       0.97      0.97      0.97       150\n'

In [ ]:
# we can create specificity, sensitivity,accu for each model and store in list and evaluate